*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width:600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
}
#container .active{
    width: 50%;
    

}
div>img{
    width: 100%;
}
.none{
    display: none;
}

.active{
    display: block;
    display: flex;
}
